
 <div class="ui-g-12 ui-md-6 ui-lg-4" style="margin-left:290px;margin-top:85px;width:500px;">
        <p-panel header="Change Password" [style]="{'text-align':'left','background':'#fff', 'height':'100%'}">           
            <form [formGroup]="passwordForm" (ngSubmit)="updateAdminPassword(passwordForm.value)" style="height:262px;width:500px;">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px;margin-top:5px;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Current Password :
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="password" formControlName="password" placeholder="Required" [(ngModel)]="changePassword.password" />
                            <div style="color:brown" *ngIf="!passwordForm.controls['password'].valid&&passwordForm.controls['password'].dirty">
                                Current password is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            New Password :
                        </div>
                        <div class="ui-grid-col-6">
                            <input pPassword type="password"  #input  formControlName="newPassword" placeholder="Required" [(ngModel)]="changePassword.newPassword" />
                            <div style="color:brown" *ngIf="!passwordForm.controls['newPassword'].valid&&passwordForm.controls['newPassword'].dirty">
                                <span *ngIf="passwordForm.controls['newPassword'].errors['required']">Password is required.</span>
                                <span *ngIf="passwordForm.controls['newPassword'].errors['minlength']">Must be longer than 4 characters</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            Confirm Password :
                        </div>
                        <div class="ui-grid-col-6">
                            <input pPassword type="password" formControlName="confirmPassword" placeholder="Required" [(ngModel)]="changePassword.confirmPassword" />
                            <div style="color:brown" *ngIf="passwordForm.controls.confirmPassword.touched&&passwordForm.hasError('mismatchedPasswords')">
                                Passwords do not match.
                            </div>
                        </div>

                    </div>
                </div>
                <footer style="text-align: center; margin-top: 24px; margin-left: -42px;">
                    <div>
                        <button pButton type="submit" style="width:110px;height:30px;" label="Submit" [disabled]="!passwordForm.valid"></button>
                    </div>
                </footer>
            </form>
        </p-panel>
    </div>
<p-confirmDialog width="425"></p-confirmDialog>
<p-growl [value]="msgs" life="3000"></p-growl>