<div class="ui-g ui-fluid dashboard" style="margin-top: 0px;">
   
    <!--<div class="ui-g-12 ui-md-4">
        <div class="card clearfix summary">
            <span class="title">Bus</span>
            <span class="detail">Route Bus status</span>
            <span class="count purchases">{{busStatusLength}}</span>
        </div>
    </div>
    <div class="ui-g-12 ui-md-4">
        <div class="card clearfix summary">
            <span class="title">Message</span>
            <span class="detail">Message for today</span>
            <span class="count revenue">{{messagelength}}</span>
        </div>
    </div>-->
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="highlight-box" style="height:75%;"  (click)="op3.toggle($event)">
            <div class="initials" style="background-color:#20d077;color:#038d4a; font-size:30px;padding-top:10px;">MP</div>
            <div class="card">
                <!--<span class="fa fa-question-circle-o"></span>-->
                <span style="margin-top:-10px">Missing Patron</span>
                <span class="count" style="font-size:20px;align-content:flex-start;margin-top: 2px;margin-left: 35px;">{{missinglength}}</span>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="highlight-box" style="height:75%;"  (click)="op2.toggle($event)">
            <div class="initials" style="background-color:#007be5;color:#00448f;font-size:30px;padding-top: 10px;">LP</div>
            <div class="card">
                <span style="margin-top:-10px; margin-left:-5px;">Patron on Leave</span>
                <span class="count" style="font-size:20px;align-content:flex-start;margin-top: 2px;margin-left: 35px;">{{leaveLength}}</span>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="highlight-box" style="height:75%;" (click)="op1.toggle($event)" >
            <div class="initials" style="background-color:#ef6262;color:#a83d3b;font-size:30px;padding-top:10px;">WP</div>
            <div class="card">
                <!--<span class="fa fa-question-circle"></span>-->
                <span style="margin-top:-10px">Walker Patron</span>
                <span class="count" style="font-size:20px;align-content:flex-start;margin-top: 2px;margin-left: 35px;">{{walkerlength}}</span>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="highlight-box" style="height:75%;" (click)="op4.toggle($event)">
            <div class="initials" style="background-color:#f9c851;color:#b58c2b; font-size:30px;padding-top:10px;">PP</div>
            <div class="card">
                <!--<span class="fa fa-check"></span>-->
                <span style="margin-top:-10px">Present Patron</span>
                <span class="count" style="font-size:20px;align-content:flex-start;margin-top: 2px;margin-left: 35px;">{{presentPatronCount}}</span>
            </div>
        </div>
    </div>
 

</div>


<div class="ui-g ui-fluid dashboard" style="margin-top: -24px;">
    <div class="ui-g-12 ui-md-3" style="margin-top: -18px;">
        <div class="ui-grid ui-grid-responsive   ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none;margin-top:20px">
            <div class="ui-grid-row">

                <!--<div class="ui-grid-col-5">
                    Route Detail
                </div>-->
                <div class="ui-grid-col-9" >
                    <button type="button" *ngIf="button" pButton pTooltip="All Route Map" tooltipPosition="top"  (click)="selectRoute(transportRoute)"label="All Route" style="width:90px;float:left;"></button>
                   
                </div>
                &nbsp;
                <div class="ui-grid-col-3">
                    <p-toggleButton [(ngModel)]="checked" onLabel="Active" (onChange)="handleChange($event)" offLabel="All" [style]="{'width':'65px','height':'27px','float':'right'}" ></p-toggleButton>
                </div>
            </div>
        </div>

        <div class="ui-grid ui-grid-responsive   ui-widget-header ui-helper-clearfix" [style]="{'height':'495px'}">
            <p-orderList [value]="transportRouteCurrentLocationList" [listStyle]="{'height':'447px'}" [responsive]="true" 
                         filter="filter" filterBy="PatronFirstName,PatronLastName,Route,ComingStoppage,RouteDriver.firstName,RouteStaff.firstName,RouteCoordinator.firstName,RouteDriver.lastName,RouteStaff.lastName,RouteCoordinator.lastName" dragdrop="true">
                <ng-template let-route pTemplate="item" >
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid;border-bottom-color: lightgray ;color:black; background:white !important; background-color:white !important; border-bottom-color:lightgray !important;">
                        <div class="ui-g-16" (click)="selectRoute(route)" >
                            <div class="ui-g-4" style="padding-top: 0;">
                                <span pTooltip="Route" tooltipPosition="top"><img src="{{route.RouteImage}}" height="25" width="25" /></span>
                            </div>
                            <div class="ui-g-1" style="text-align: right;padding-top: 0;">
                                <span pTooltip="Next Stop" tooltipPosition="top"><img src="{{route.ComingStopImage}}" /></span>
                            </div>
                            <div hidden="hidden">{{route.Route}}</div>
                            <div hidden="hidden">{{route.RouteDriver.firstName}}</div>
                            <div hidden="hidden">{{route.RouteStaff.firstName}}</div>
                            <div hidden="hidden">{{route.RouteCoordinator.firstName}}</div>
                            <div hidden="hidden">{{route.RouteDriver.lastName}}</div>
                            <div hidden="hidden">{{route.RouteStaff.lastName}}</div>
                            <div hidden="hidden">{{route.RouteCoordinator.lastName}}</div>
                            <div hidden="hidden">{{route.PatronFirstName}}</div>
                            <div hidden="hidden">{{route.PatronLastName}}</div>

                            <!--<div *ngFor=" let pat of route.Patron" class="mdl-cell mdl-cell--4-col">
                                <div class="ui-g-7" style="text-align: right;padding-top: 0;">{{pat.firstName}}</div>
                                <div class="ui-g-7" style="text-align: right;padding-top: 0;">{{pat.lastName}}</div>
                            </div>-->


                            
                            <div class="ui-g-7" style="text-align: right;padding-top: 0;">{{route.ComingStoppage}}</div>
                            <div class="ui-g-10" style="padding-top: 0;">
                                <span><img src="{{timerImage1}}" height="20" width="20" /></span>
                                <span style="padding-left:3px" pTooltip="Scheduled Time Arrival" tooltipPosition="top">  STA:</span><b style="padding-left:3px">{{route.SchduledTime}}</b>
                            </div>
                            <div class="ui-g-12" [style.background-color]="route.ColumnColor">
                                <span><img src="{{route.StopImage}}" height="20" width="20" /></span>
                                <span style="padding-left:3px" pTooltip="Estimated Time Arrival" tooltipPosition="top">
                                    ETA:
                                </span>
                                <b style="padding-left:3px">
                                    {{route.EstimatedTime}}
                                </b>
                                <span style="padding-left:49px">
                                    Patron:
                                </span>
                                <b style="padding-left:3px">
                                    {{route.PatronCount}}
                                </b>
                            </div>
                         </div>

                    </div>                  
                </ng-template>
            </p-orderList>
            <!--<div style="overflow-y: scroll;height:488px">
              <div class="activity-header" style="border-bottom: 1px solid #e3e3e3;padding-bottom:10px;padding-top:5px; cursor:pointer" *ngFor="let transportRoute of transportRouteCurrentLocationList" (click)="selectRoute(transportRoute)" >
                    <div class="ui-g" >
                        <div class="ui-g-16" [style.background-color]="bgColor1">
                            <div class="ui-g-4" style="padding-top: 0;">
                                <span pTooltip="Route" tooltipPosition="top" ><img src="{{transportRoute.RouteImage}}" height="25" width="25" /></span>
                            </div>
                            <div class="ui-g-1" style="text-align: right;padding-top: 0;">
                                <span pTooltip="Next Stop" tooltipPosition="top" ><img src="{{transportRoute.ComingStopImage}}" /></span>
                            </div>
                            <div class="ui-g-7" style="text-align: right;padding-top: 0;">
                                <span>{{transportRoute.ComingStoppage}}</span>
                            </div>
                            <div class="ui-g-10" style="padding-top: 0;">
                                <span><img src="{{timerImage1}}" height="20" width="20" /></span>
                                <span style="padding-left:3px" pTooltip="Scheduled Time Arrival" tooltipPosition="top" >  STA:</span><b style="padding-left:3px">{{transportRoute.SchduledTime}}</b>
                            </div>
                            <div class="ui-g-12" [style.background-color]="transportRoute.ColumnColor" >
                                <span><img src="{{transportRoute.StopImage}}" height="20" width="20" /></span>
                                <span style="padding-left:3px" pTooltip="Estimated Time Arrival" tooltipPosition="top">
                                    ETA:
                                </span>
                                <b style="padding-left:3px" >
                                    {{transportRoute.EstimatedTime}}
                                </b>
                                <span style="padding-left:49px">
                                    Patron:
                                </span>
                                <b  style="padding-left:3px">
                                   {{transportRoute.PatronCount}}
                                </b>
                            </div>
                            </div>

                    </div>
                </div>
            </div>-->
        </div>
    </div>


    <div class="ui-g-12 ui-md-9">
        <div class="card">
            <div style="border:1px;">
                <sebm-google-map style="width:100%" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
                                 (mapClick)="mapClicked($event)">
                    <sebm-google-map-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat"
                                            [longitude]="m.lng" [label]="m.label" [title]="m.title" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)"
                                            [iconUrl]="m.icon">
                    </sebm-google-map-marker>
                    <sebm-google-map-marker *ngFor="let m of orgMarkers; let i = index"
                                            [latitude]="m.lat" [longitude]="m.lng" [title]="m.title"
                                            [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)" [iconUrl]="m.icon">
                    </sebm-google-map-marker>
                    <sebm-google-map-marker *ngFor="let s of stops; let i = index" (markerClick)="clickedMarker(s.label, i)" [latitude]="s.lat"
                                            [longitude]="s.lng" [label]="s.label" [title]="s.title" [markerDraggable]="s.draggable" (dragEnd)="markerDragEnd(s, $event)"
                                            [iconUrl]="s.icon">
                    </sebm-google-map-marker>
                    <sebm-google-map-polyline *ngFor="let p of polyline" [draggable]="false" [editable]="false" [clickable]="false"
                                              [strokeColor]="p.strokeColor" [geodesic]="p.geodesic" [strokeOpacity]="p.strokeOpacity" [strokeWeight]="p.strokeWeight">
                        <sebm-google-map-polyline-point *ngFor="let p of polyline" [latitude]="p.lat" [longitude]="p.lng">
                        </sebm-google-map-polyline-point>
                    </sebm-google-map-polyline>
                </sebm-google-map>
            </div>
        </div>
    </div>
</div>

<p-overlayPanel #op1>
   
        <p-dataTable [value]="transportWalkerList" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]" [responsive]="true" [style]="{'width':'400px'}" [loading]="WalkerPatronLoading">
            <p-header>Walker Request</p-header>
            <p-column field="imgUrl" [style]="{'width':'50px'}">
                <ng-template let-col let-car="rowData" pTemplate="body">
                    <img src="https://devschoolwayzdatastorage.blob.core.windows.net/b077007f-6e64-4074-bd2b-c9500d89bef8/Photo/{{car[col.field]}}" class="rounded-circle" height="40" width="40" />
                </ng-template>
            </p-column>
            <p-column field="name" header="Name"></p-column>
            <!--<p-column field="lastName" header="LastName"></p-column>-->
            <p-column field="requestBy" header="Request By"></p-column>
            <p-column field="routeNumber" header="Route" [style]="{'width':'50px'}"></p-column>
            <p-column field="stoppageName" header="Stoppage"></p-column>
        </p-dataTable>
  
</p-overlayPanel>
<p-overlayPanel #op2>

    <p-dataTable [value]="patronOnLeaveDescriptionList" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]" [style]="{'width':'400px'}" [responsive]="true" [loading]="PatronLeaveLoading">
        <p-header>Patron on Leave</p-header>
        <p-column field="imagePath" [style]="{'width':'50px'}">
            <ng-template let-col let-car="rowData" pTemplate="body">
                <img src="https://devschoolwayzdatastorage.blob.core.windows.net/b077007f-6e64-4074-bd2b-c9500d89bef8/Photo/{{car[col.field]}}" class="rounded-circle" height="40" width="40" />
            </ng-template>
        </p-column>
        <p-column field="name" header="Name"></p-column>
        <!--<p-column field="patronInfo.lastName" header="LastName" ></p-column>-->
        <p-column field="patronInfo.class" header="Class" [style]="{'width':'50px'}"></p-column>
        <p-column field="patronInfo.section" header="Section" [style]="{'width':'70px'}"></p-column>
        <p-column field="routeNumber" header="Route" [style]="{'width':'50px'}"></p-column>
    </p-dataTable>
</p-overlayPanel>
<p-overlayPanel #op3>

    <p-dataTable #dt [value]="finalMissingList" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]" [style]="{'width':'400px'}" [responsive]="true" [loading]="MissingPatronLoading" >
        <p-header>Missing Patron in Bus</p-header>
        <p-column field="imagePath" [style]="{'width':'55px'}">
            <ng-template let-col let-car="rowData" pTemplate="body">
                <img src="https://devschoolwayzdatastorage.blob.core.windows.net/b077007f-6e64-4074-bd2b-c9500d89bef8/Photo/{{car[col.field]}}" class="rounded-circle" height="40" width="40" />
            </ng-template>
        </p-column>
        <p-column field="name" header="Name"></p-column>
        <!--<p-column field="lastName" header="LastName"></p-column>-->
        <p-column field="routeNumber" header="Route" [style]="{'width':'50px'}"></p-column>
        <p-column field="stoppagename" header="Stoppage"></p-column>
    </p-dataTable>
</p-overlayPanel>
<p-overlayPanel #op4>

    <p-dataTable #dt [value]="onBoardPatronList" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]" [style]="{'width':'400px'}" [responsive]="true" [loading]="MissingPatronLoading">
        <p-header>Present Patron in Bus</p-header>
        <p-column field="imagePath" [style]="{'width':'55px'}">
            <ng-template let-col let-car="rowData" pTemplate="body">
                <img src="https://devschoolwayzdatastorage.blob.core.windows.net/b077007f-6e64-4074-bd2b-c9500d89bef8/Photo/{{car[col.field]}}" class="rounded-circle" height="40" width="40" />
            </ng-template>
        </p-column>
        <p-column field="name" header="Name"></p-column>
        <!--<p-column field="lastName" header="LastName"></p-column>-->
        <p-column field="routeNumber" header="Route" [style]="{'width':'50px'}"></p-column>
        <p-column field="stoppagename" header="Stoppage"></p-column>
    </p-dataTable>
</p-overlayPanel>



<p-growl [value]="msgs" life="3000"></p-growl>

