
<p-dialog [(visible)]="patronDialog" header="{{patronHeader}}" [resizable]="false" [responsive]="true" showeffect="fade" [modal]="true" width="750" height="595">
    <form [formGroup]="patronform" (ngSubmit)="createPatron(patronform.value)">      

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    First Name :
                </div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="firstName" placeholder="Required" [(ngModel)]="patronDetail.firstName" />
                    <div style="color:brown" *ngIf="!patronform.controls['firstName'].valid&&patronform.controls['firstName'].dirty">
                    <span *ngIf="patronform.controls['firstName'].errors['required']">  First name is required</span>
                    <span *ngIf="patronform.controls['firstName'].errors['pattern']">First name should be characters</span>       
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Last Name :
                </div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="lastName" placeholder="Required" [(ngModel)]="patronDetail.lastName" />
                    <div style="color:brown" *ngIf="!patronform.controls['lastName'].valid&&patronform.controls['lastName'].dirty">
                        <span *ngIf="patronform.controls['lastName'].errors['required']">Last name is required</span>
                        <span *ngIf="patronform.controls['lastName'].errors['pattern']">Last name should be characters</span>  
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Date of Birth :
                </div>
                <div class="ui-grid-col-3">
                    <p-calendar formControlName="dateOfBirth" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" dateFormat="yy-mm-dd" [showIcon]="true" [(ngModel)]="patronDetail.dateOfBirth"></p-calendar>
                    <div style="color:brown" *ngIf="!patronform.controls['dateOfBirth'].valid&&patronform.controls['dateOfBirth'].dirty">
                        <span *ngIf="patronform.controls['dateOfBirth'].errors['required']">Date of birth is required</span>
                        <!--<span *ngIf="patronform.controls.dateOfBirth.touched&&patronform.hasError('invalidDate')">Date Should Not Be greater then Current Date</span>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Class :
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="classList" placeholder="Class" (onChange)="getSelectedClassSection($event)" formControlName="classList" [style]="{'width':'85px'}" [(ngModel)]="selectedClass"></p-dropdown>
                    <div style="color:brown" *ngIf="!patronform.controls['classList'].valid&&patronform.controls['classList'].dirty">
                        Class is required
                    </div>
                </div>

            </div>
        </div>

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Section :
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="sectionList" placeholder="Section" [style]="{'width':'85px','float':'left'}" formControlName="sectionList" [(ngModel)]="selectedSection"></p-dropdown>
                    <div style="color:brown" *ngIf="!patronform.controls['sectionList'].valid&&patronform.controls['sectionList'].dirty">
                        Section is required
                    </div>
                </div>

            </div>
        </div>

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Roll Number :
                </div>
                <div class="ui-grid-col-4">
                    <input pInputText type="text" formControlName="rollNo" [style]="{'width':'85px'}" [(ngModel)]="patronDetail.rollNo" />
                    <div style="color:brown" *ngIf="!patronform.controls['rollNo'].valid&&patronform.controls['rollNo'].dirty">
                        <span *ngIf="patronform.controls['rollNo'].errors['required']">Roll number is required</span>
                        <span *ngIf="patronform.controls['rollNo'].errors['pattern']">Roll number should be number</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Active :
                </div>
                <div class="ui-grid-col-6">
                    <p-checkbox name="isActive" formControlName="isActive" value="isActive" binary="true" [(ngModel)]="patronDetail.isActive"></p-checkbox>
                </div>

            </div>
        </div>

        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Image :
                </div>
                <div class="ui-grid-col-4">

                    <input #fileInput type="file" class="form-control" name="imgUrl" />
                </div>
                <div class="ui-grid-col-6">
                    <img src="https://devschoolwayzdatastorage.blob.core.windows.net/b077007f-6e64-4074-bd2b-c9500d89bef8/Photo/{{patronDetail.imgUrl}}" height="60" width="60" class="rounded-circle" />
                </div>
            </div>
        </div>
        <footer style="margin-left:123px;">
            <div>               
                <button type="button" style="float:initial;width:110px;height:30px;" label="Cancel" pButton (click)="patronCancel($event)"></button>
                <button pButton type="submit" style="width:110px;height:30px;" label="Save" [disabled]="!patronform.valid"></button>
            </div>
        </footer>
    </form>
</p-dialog>
<div class="card card-w-title">
    <!--<div class="ui-grid ui-grid-responsive   ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none;margin-top:20px">
        <div class="ui-grid-row">
            <div>
                <button type="button" pButton icon="fa-user-plus" style="float:left" (click)="addPatron()" label="Add" data-toggle="tooltip" data-placement="right" title="Add Patron"></button>
            </div>&nbsp;&nbsp;
            <div class="ui-grid-col-5">

            </div>
            <div class="ui-grid-col-5">
                <input #gb type="text" pInputText size="30" style="float:right" placeholder="search">
                <i class="fa fa-search" style="float:right;margin:4px 4px 0 0"></i>
            </div>
            &nbsp;
            <div>
                <button type="button" style="float:right;" pButton icon="fa-file-o" iconPos="left" label="Export" data-toggle="tooltip" data-placement="right" title="Download" (click)="download()"></button>
            </div>
        </div>data-toggle="tooltip" data-placement="right" title="Add Patron"
    </div>-->
    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button type="button" pButton icon="fa-user-plus" style="float:left" (click)="addPatron()" label="Add" pTooltip="Add Patron" tooltipPosition="top"></button>
        </div>
        <div class="ui-toolbar-group-right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="30" placeholder="search">
            <button type="button"  pButton icon="fa-file-o" iconPos="left" label="Export" pTooltip="Download" tooltipPosition="top" (click)="download()"></button>
        </div>
    </p-toolbar>
    <div class="ui-grid ui-grid-responsive   ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none;margin-top:-1px">
        <div class="ui-grid-row">
            <header style="text-align:left;font-size:120%">Patron</header>
        </div>
    </div>
    <p-dataTable #dt [(value)]="patronDetails" [(selection)]="selectedPatronDetail" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15,20]" [responsive]="true" [globalFilter]="gb" [loading]="loading" loadingIcon="fa-spinner">
        <p-column header="Action" [style]="{'width':'81px'}">
            <ng-template let-patron="rowData" pTemplate type="body">
                <button type="button" pButton (click)="updatePatron(patron)" icon="fa-pencil-square-o" pTooltip="Edit Patron" tooltipPosition="top"></button>
                <button type="button" pButton (click)="deletePatron(patron)" icon="fa-trash" pTooltip="Delete Patron" tooltipPosition="top"></button>
                <button type="button" pButton (click)="addperson(patron)" icon="fa fa-phone"  pTooltip="Add Contact Person" tooltipPosition="top"></button>
                <button type="button" pButton (click)="addAuthType(patron)" icon="fa fa-unlock-alt" pTooltip="Add Authentication" tooltipPosition="top"></button>
            </ng-template>
        </p-column>
        <p-column field="imgUrl" [style]="{'width':'31px'}">
            <ng-template let-col let-car="rowData" pTemplate="body"> 
                <img src="https://devschoolwayzdatastorage.blob.core.windows.net/b077007f-6e64-4074-bd2b-c9500d89bef8/Photo/{{car[col.field]}}" class="rounded-circle" height="40" width="40" />
            </ng-template>
        </p-column>
        <p-column field="firstName" header="First Name" [sortable]="true" [style]="{'width':'120px'}"></p-column>
        <p-column field="lastName" header="Last Name" [sortable]="true" [style]="{'width':'120px'}"></p-column>
        <p-column field="isActive" header="Active" [sortable]="true" [style]="{'width':'70px'}"></p-column>
        <p-column field="class" header="Class" [sortable]="true"[style]="{'width':'50px'}"></p-column>
        <p-column field="section" header="Section" [style]="{'width':'60px'}"></p-column>
        <p-column field="rollNo" header="Roll No" [sortable]="true" [style]="{'width':'55px'}"></p-column>
    </p-dataTable>
</div>


<p-dialog [(visible)]="patronContact" header="Contact Person" [resizable]="false" [responsive]="true" showeffect="fade" [modal]="true" width="830" height="633" [contentStyle]="{'overflow':'auto','max-height':'578px'}">
    <div style="padding:4px 10px;border-bottom: 0 none;margin-top:-25px">
        <p-tabView (onChange)="handleChange($event)" [style]="{'width':'791px','margin-top':'17px','margin-left':'-13px'}">
            <p-tabPanel header="List" [selected]="selectedTab===1" *ngIf="tab1visible">
                
                <p-toolbar [style]="{'width':'784px','margin-left':'-14px','margin-top':'-15px'}">
                    <div class="ui-toolbar-group-left">
                        <button type="button" pButton style="float:left;width:80px" icon="fa-plus" (click)="activateTab(0,'add')" label="Add" pTooltip="Add Contact Person" tooltipPosition="top"></button>
                    </div>

                </p-toolbar>
                <p-dataTable [(value)]="personDetails" [(selection)]="selectedPersonDetail" [rows]="8" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,15]" [responsive]="true" [style]="{'width':'784px','margin-left':'-14px','margin-top':'-1px'}">
                    <p-column header="Action" [style]="{'width':'70px'}">
                        <ng-template let-personDetail="rowData" pTemplate type="body">
                            <button type="button" pButton style="float:left" icon="fa-pencil-square-o" (click)="updateContactPerson(0,'edit',personDetail)" pTooltip="Edit Contact Person" tooltipPosition="top"></button>
                            <button type="button" pButton style="float:left" icon="fa-trash" (click)="deletePerson(personDetail)" pTooltip="Delete Contact Person" tooltipPosition="top"></button>
                        </ng-template>
                    </p-column>
                    <p-column field="imgUrl" [style]="{'width':'50px'}">
                        <ng-template let-col let-car="rowData" pTemplate="body">
                            <img src="https://devschoolwayzdatastorage.blob.core.windows.net/b077007f-6e64-4074-bd2b-c9500d89bef8/Photo/{{car[col.field]}}" class="rounded-circle" height="40" width="40" />
                        </ng-template>
                    </p-column>
                    <p-column field="firstName" header="First Name" [style]="{'width':'130px'}"></p-column>
                    <p-column field="lastName" header="Last Name" [style]="{'width':'130px'}"></p-column>
                    <p-column field="emailId" header="Email Id" [style]="{'width':'157px'}"></p-column>
                    <p-column field="primaryMobile" header="Mobile" [style]="{'width':'100px'}"></p-column>
                </p-dataTable>
            </p-tabPanel>

            <p-tabPanel header="{{ContactPersonHeader}}" [selected]="selectedTab===0" *ngIf="tab2visible">
                <form [formGroup]="personform" (ngSubmit)="createPerson(1)" style="margin-left: 20px;margin-bottom: 20px;margin-left:-10px;">                    
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                First Name :
                            </div>
                            <div class="ui-grid-col-4">
                                <input pInputText type="text" formControlName="firstName" placeholder="Required" [(ngModel)]="personDetail.firstName" />
                                <div style="color:brown" *ngIf="!personform.controls['firstName'].valid&&personform.controls['firstName'].dirty">
                                    <span *ngIf="personform.controls['firstName'].errors['required']">First name is required</span>
                                    <span *ngIf="personform.controls['firstName'].errors['pattern']">First name should be characters</span>      
                                    
                                </div>
                            </div>
                            <div class="ui-grid-col-2">
                                Last Name :
                            </div>
                            <div class="ui-grid-col-4">
                                <input pInputText type="text" formControlName="lastName" placeholder="Required" [(ngModel)]="personDetail.lastName" />
                                <div style="color:brown" *ngIf="!personform.controls['lastName'].valid&&personform.controls['lastName'].dirty">
                                    <span *ngIf="personform.controls['lastName'].errors['required']">Last name is required</span>
                                    <span *ngIf="personform.controls['lastName'].errors['pattern']">Last name should be characters</span>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Email Id :
                            </div>
                            <div class="ui-grid-col-4">
                                <input pInputText type="email" placeholder="example@gmail.com" formControlName="emailId"  [(ngModel)]="personDetail.emailId" />
                                <div style="color:brown" *ngIf="!personform.controls['emailId'].valid&&personform.controls['emailId'].dirty">
                                    <span *ngIf="personform.controls['emailId'].errors['required']">Email id is required</span>
                                    <span *ngIf="personform.controls['emailId'].errors['email']">Invalid email id</span>

                                </div>
                            </div>
                            <div class="ui-grid-col-2">
                                Relation :
                            </div>
                            <div class="ui-grid-col-3">
                                <p-dropdown [options]="relations" placeholder="Relation" formControlName="relation" [style]="{'width':'120px'}" [(ngModel)]="selectedRelation"></p-dropdown>

                                <div style="color:brown" *ngIf="!personform.controls['relation'].valid&&personform.controls['relation'].dirty">
                                    Relation is required
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <!--<div class="ui-grid-col-2">
                                Gender :
                            </div>
                            <div class="ui-grid-col-4">
                                <p-radioButton name="gender" formControlName="gender" value="male" label="Male" [(ngModel)]="personDetail.gender"></p-radioButton>
                                <p-radioButton name="gender" formControlName="gender" value="female" label="Female" [(ngModel)]="personDetail.gender"></p-radioButton>
                            </div>-->
                            <div class="ui-grid-col-2">
                                Date of Birth :
                            </div>
                            <div class="ui-grid-col-4">
                                <p-calendar formControlName="dateOfBirth" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:2030" dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="personDetail.dateOfBirth"></p-calendar>                                
                          <div style="color:brown" *ngIf="!personform.controls['dateOfBirth'].valid&&personform.controls['dateOfBirth'].dirty">
                        <span *ngIf="personform.controls['dateOfBirth'].errors['required']">Date of birth is required</span>
                    </div>
                              
                            </div>
                        </div>
                    </div>

                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                 Mobile :
                            </div>
                            <div class="ui-grid-col-4">
                                <input pInputText type="text" formControlName="primaryMobile" laceholder="Required" [(ngModel)]="personDetail.primaryMobile" />
                                <div style="color:brown" *ngIf="!personform.controls['primaryMobile'].valid&&personform.controls['primaryMobile'].dirty">
                                    <span *ngIf="personform.controls['primaryMobile'].errors['pattern']">Mobile number should be number</span> 
                                    <span *ngIf="!personform.controls['primaryMobile'].errors['pattern']&&personform.controls['primaryMobile'].errors['minlength']">Number should not be less than 10</span>
                                    <span *ngIf="!personform.controls['primaryMobile'].errors['pattern']&&personform.controls['primaryMobile'].errors['maxlength']">Number should not be grater than 10</span>
                                    <span *ngIf="personform.controls['primaryMobile'].errors['required']">Mobile number required</span>
                                   
                                </div>
                            </div>
                            <div class="ui-grid-col-2">
                                 Phone  :
                            </div>
                            <div class="ui-grid-col-4">
                                <input pInputText type="text" formControlName="secondaryMobile" placeholder="secondary mobile" [(ngModel)]="personDetail.secondaryMobile" />
                                <div style="color:brown" *ngIf="!personform.controls['secondaryMobile'].valid&&personform.controls['secondaryMobile'].dirty">
                       <span *ngIf="personform.controls['secondaryMobile'].errors['pattern']">Phone number should be number</span> <span *ngIf="!personform.controls['secondaryMobile'].errors['pattern']&&personform.controls['secondaryMobile'].errors['minlength']">Number should not be less than 10 </span>
                         <span *ngIf="!personform.controls['secondaryMobile'].errors['pattern']&&personform.controls['secondaryMobile'].errors['maxlength']">Number should not be grater than 10</span>
                      
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Address :
                            </div>
                            <div class="ui-grid-col-4">
                                <textarea pInputText type="text" formControlName="address" placeholder="Required" autoResize="autoResize" [(ngModel)]="personDetail.address"></textarea>
                                <div style="color:brown" *ngIf="!personform.controls['address'].valid&&personform.controls['address'].dirty">
                                    Address is required
                                </div>
                            </div>
                            <div class="ui-grid-col-2">
                                Country :
                            </div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [options]="countries" placeholder="Country" formControlName="countries" [style]="{'width':'150px'}" [(ngModel)]="selectedCountry"></p-dropdown>
                                <div style="color:brown" *ngIf="!personform.controls['countries'].valid&&personform.controls['countries'].dirty">
                                    Country is required
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                State :
                            </div>
                            <div class="ui-grid-col-4">
                                <p-dropdown [options]="countryStates" placeholder="State" formControlName="state" [style]="{'width':'180px'}" [(ngModel)]="selectedState"></p-dropdown>
                                <div style="color:brown" *ngIf="!personform.controls['state'].valid&&personform.controls['state'].dirty">
                                    State is required
                                </div>
                            </div>
                            <div class="ui-grid-col-2">
                                Postal Code :
                            </div>
                            <div class="ui-grid-col-4">
                                <input pInputText type="text" formControlName="zipCode" [(ngModel)]="personDetail.zipCode" />
                                <div style="color:brown" *ngIf="!personform.controls['zipCode'].valid&&personform.controls['zipCode'].dirty">
                                    <span *ngIf="personform.controls['zipCode'].errors['pattern']">Postal code should be number</span>
                                    <span *ngIf="!personform.controls['zipCode'].errors['pattern']&&personform.controls['zipCode'].errors['minlength']"> Code should not be less than 3 </span>
                                    <span *ngIf="!personform.controls['zipCode'].errors['pattern']&&personform.controls['zipCode'].errors['maxlength']"> Code should not be grater than 8</span>
                                    <span *ngIf="personform.controls['zipCode'].errors['required']">Postal code is required</span>
                                </div>
                            </div>
                          </div>
                    </div>

                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Active :
                            </div>
                            <div class="ui-grid-col-1">
                                <p-checkbox name="isActive" formControlName="isActive" value="isActive" binary="true" [(ngModel)]="personDetail.isActive"></p-checkbox>
                            </div>
                            <div class="ui-grid-col-3">
                                Having Primary Contact :
                            </div>
                            <div class="ui-grid-col-1">
                                <p-checkbox name="isPrimaryContact" formControlName="isPrimaryContact" value="isPrimaryContact" binary="true" [(ngModel)]="personDetail.isPrimaryContact">
                                </p-checkbox>
                            </div>
                            <div class="ui-grid-col-3">
                                Using Smart Phone :
                            </div>
                            <div class="ui-grid-col-2">
                                <p-checkbox name="isHavingSmartPhone" formControlName="isHavingSmartPhone" value="isHavingSmartPhone" binary="true" [(ngModel)]="personDetail.isHavingSmartPhone">
                                </p-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Image :
                            </div>
                            <div class="ui-grid-col-4">
                                <input #personImage type="file" class="form-control" name="imgUrl" />
                            </div>
                            <div class="ui-grid-col-6">

                                <img src="https://devschoolwayzdatastorage.blob.core.windows.net/b077007f-6e64-4074-bd2b-c9500d89bef8/Photo/{{personDetail.imgUrl}}" height="60" width="60" class="rounded-circle" />
                            </div>
                            
                        </div>
                    </div>
                    <footer style="margin-left:129px;">
                        <div>                           
                            <button type="button" style="float:initial;width:110px;height:30px;" label="Cancel" pButton (click)="contactcancel(1)"></button>
                           
                            <button pButton type="submit" style="width:110px;height:30px;margin-left:5px"label="Save" [disabled]="!personform.valid"></button>
                        </div>
                    </footer>
                </form>
            </p-tabPanel>
        </p-tabView>
    </div>
</p-dialog>



<p-dialog [(visible)]="patronAuthDialog" header="Patron Authentication" [resizable]="false" [responsive]="true" showeffect="fade" [modal]="true" width="700" height="354" [contentStyle]="{'overflow':'auto','max-height':'578px'}">
    <div style="padding:4px 10px;border-bottom: 0 none;width:630px;margin-top:-25px">
        <p-tabView (onChange)="handleChange1($event)" [style]="{'width':'663px','margin-top':'17px','margin-left':'-13px'}">
            <p-tabPanel header="List" [selected]="selectedTab===1" *ngIf="tab1Authenticationvisible">
               
                <p-toolbar [style]="{'width':'656px','margin-left':'-14px','margin-top':'-15px'}">
                    <div class="ui-toolbar-group-left">
                        <button type="button" pButton styl e="float:left;width:80px" icon="fa-plus" (click)="activateTab1(0,'add')" label="Add" pTooltip="Add  Authentication" tooltipPosition="top"></button>
                    </div>
                    
                </p-toolbar>
                <p-dataTable [(value)]="authTypeDetails" [(selection)]="selectAuthenticationTypeDetail" [rows]="4" [paginator]="true" [pageLinks]="3" [responsive]="true" [style]="{'width':'656px','margin-left':'-14px','margin-top':'-1px'}">
                    <p-column header="Action" [style]="{'width':'74px'}">
                        <ng-template let-authDetail="rowData" pTemplate type="body">
                            <button type="button" pButton style="float:left" icon="fa-pencil-square-o" (click)="updateAuthType(0,'edit',authDetail)" pTooltip="Edit  Authentication" tooltipPosition="top"></button>
                            <button type="button" pButton style="float:left" icon="fa-trash" (click)="deleteAuthType(authDetail)" pTooltip="Delete  Authentication" tooltipPosition="top"></button>
                        </ng-template>
                    </p-column>
                    <p-column field="hashValue" header="Hash Value"></p-column>
                    <p-column field="modeType" header="Authentication Type"></p-column>
                    <p-column field="remark" header="Remark"></p-column>
                </p-dataTable>
            </p-tabPanel>

            <p-tabPanel header="{{AutheticationHeader}}" [selected]="selectedTab===0" *ngIf="tab2Authenticationvisible">
                <form [formGroup]="authform" (ngSubmit)="createAuthType(1)">
                     <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                Hash Value :
                            </div>
                            <div class="ui-grid-col-4">
                                <input pInputText type="text" formControlName="hashvalue" placeholder="Required" [(ngModel)]="authenticationTypeDetail.hashValue" />
                                <div style="color:brown" *ngIf="!authform.controls['hashvalue'].valid&&authform.controls['hashvalue'].dirty">
                                    Hash value is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                Authetication Mode :
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown [options]="authMode" placeholder="Select Mode" [style]="{'width':'120px'}" formControlName="authmode" [(ngModel)]="selectedAuthMode"> </p-dropdown>
                                <div style="color:brown" *ngIf="!authform.controls['authmode'].valid&&authform.controls['authmode'].dirty">
                                    Authetication mode is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3">
                                Remark :
                            </div>
                            <div class="ui-grid-col-4">
                                <input pInputText type="text" formControlName="remark" [(ngModel)]="authenticationTypeDetail.remark" />
                            </div>
                        </div>
                    </div>
                    <footer style="margin-left:157px;">
                        <div>
                            <button type="button" style="float:initial;width:90px;height:30px;" label="Cancel" pButton (click)="onCancel(1)"></button>
                            <button pButton type="submit" style="width:90px;height:30px" label="Save" [disabled]="!authform.valid"></button>
                        </div>
                    </footer>
                </form>
            </p-tabPanel>
        </p-tabView>
    </div>
</p-dialog>

<p-confirmDialog width="425"></p-confirmDialog>
<p-growl [value]="msgs" life="3000"></p-growl>